@import '~antd/dist/antd.css';
@import "primereact/resources/themes/md-light-indigo/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
#root {
    background-color: lightgray;
}

.App {
    text-align: center;
}


/* start carousel css */

.carousel-image {
    height: 100vh;
}

.carousel-overlay {
    position: absolute;
    z-index: 10;
    width: 50%;
    height: 100vh;
    padding: 5%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


/* end carousel css */


/* start about the app css */

.about-Images {
    border-radius: 15px;
    height: 150px;
    margin: 1em;
}

.about-section {
    width: 50%;
}

.about-list {
    list-style: none;
}

.about-list li::before {
    content: "\2022";
    color: rgb(118, 162, 255);
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}


/* end about the app css */


/* start Header nav bar */

.header-logo {
    height: 30px;
}

.navbar-button {
    margin: 0 1em;
}

.navbar-custom {
    animation-name: addColor;
    animation-duration: 0.5s;
    background: rgba(117, 117, 117, 0.9);
}


/* 
.navbar-custom-remove {
    animation-name: removeColor;
    animation-duration: 0.5s;
} */

@keyframes addColor {
    0% {
        background: none;
    }
    100% {
        background: rgba(117, 117, 117, 0.9);
    }
}


/* @keyframes removeColor {
    0% {
        background-color: inherit;
    }
    100% {
        background: none;
    }
} */


/* end Header nav bar */


/*  begin Feedback section */

.Feedback-section {
    width: 50%;
}

.cards {
    margin-left: 10px;
    /* height: 80%; */
    width: 50%;
}


/*  End Feedback section */